header {
	padding: 2px 25px;
	font-family: Copperplate;
	text-align: right;
	font-size: 50pt;
}

h4 {
	color: DarkMagenta;
	font-weight: bold;
}


.center {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 66%;
	margin-bottom: 30px;
}

.centerdiv {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 66%;
	margin-bottom: 150px;
}

.navbutton {
	border: none;
	height: 60px;
	padding: 0px 20px;
	background-color: DeepPink;
	display: block;
	color: DodgerBlue;
	text-decoration: none;
	text-align: center;
	font-size: 13pt;
}

.navbutton:hover {
  background-color: Fuchsia;
  color: white;
}


nav > div > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav > div {
	text-align: center;
	background-color: GoldenRod;
	height: 60px;
}

nav > div > ul > li {
	float: left;
}

nav > div > ul > li:hover {
	background-color: #DEB887;
	color: white;
}

.sticky {
	position: -webkit-sticky;
	position: fixed;
	height: 100%;
	top: 0;
	z-index: 1
	right: 0;
}

nav > div > ul > li a {
  display: block;
  color: IndianRed;
  padding: 20px;
  text-decoration: none;
  text-align: center;
}



h2 {
	padding: 0px 25px;
	text-align: center;
	color: white;
}



body {
    padding: 0;
    margin: 0;
	background-color: #6495ED;
	font-family: Times New Roman;
}

.display-showcase {
	margin: auto;
	max-width: 66%;
	justify-content: center;
	gap: 100px 50px;
	margin-bottom: 80px;
}

.display-showcase:hover {
	cursor: wait;
}


.product {
	width: 250px;
	display: flex;
	margin: auto;
	text-align: center;
	height: auto;
}
.product button {
	background-color: #FF7F50;
	color: white;
	width: 30%;
	padding: 5px;
	margin-top: 10px;
	border: none;
}
button:hover {
	background-color: #A52A2A;
	
}

.product img {
	max-width: 100%;
	height: 220px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.product p1 {
	color: HotPink;
	font-weight: bold;
}

.label {
	text-align: left;
	margin: 5px 0px;
}

.giftcard {
	margin: 20px 0px;
	background-color: #7FFF00;
	height: auto;
	padding: 50px 200px;
	text-align: right;
	justify-content: right;
	color: white;
	margin-bottom: 80px;
}
.giftcard img {
	max-width: 25%;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.giftcard button {
	background-color: darkcyan;
	border: none;
	color: white;
	padding: 5px;
	width: 50%;
}
.giftcard-text {
	padding-left: 10%;
}

.giftcard button:hover {
	background-color: darkgrey;
}

.footer {
	margin: 0px;
	padding: 0px;
}

.contact {
	background-color: #292929;
	height: 100%;
	margin: 0px;
	display: flex;
	justify-content: center;
}
.contact a {
	padding:30px;
	color: white;
}

.contact a:visited {
	color: yellow;
}

.copyright {
	background-color: black;
	height: 60px;
	margin: 0px;
}

footer p {
	margin-top: 0px;
	padding: 20px 0px 0 30px;
	color: white;
}

table, th, td {
  border:1px dotted darkcyan;
}

