header {
	padding: 2px 25px;
	font-family: papyrus;
	font-style: italic;
	padding-top: 20px;
	padding-bottom: 20px;
}

h4 {
	color: darkcyan;
	font-weight: bold;
}

.center {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 66%;
	margin-bottom: 30px;
}

.centerdiv {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 66%;
	margin-bottom: 150px;
}

.navbutton {
	border: none;
	height: 60px;
	padding: 0px 20px;
	background-color: darkcyan;
	display: block;
	color: lightgrey;
	text-decoration: none;
	text-align: center;
	font-size: 13pt;
}

.dropdown-toggle {
	background-color: darkcyan;
}

.navbar-nav .show > .nav-link {
    background-color: darkcyan;
  }

.nav-link {
	color: lightgrey !important;
	text-decoration: none !important;
	text-align: center !important;
	background-color: darkcyan !important;
	font-size: 10pt;
	
}

.nav-link:hover {
	color: lightgrey !important;
	background-color: lightseagreen !important;
	color: white !important;
	
}

.navbutton:hover {
  background-color: lightseagreen;
  color: white;
}

/*
nav > div > ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
*/
.navbar {
	text-align: center;
	background-color: darkcyan;
	height: 60px;
}
/*
nav > div > ul > li {
	float: left;
}*/

nav > div > ul > li:hover {
	background-color: lightseagreen;
	color: white;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1
}

nav > div > ul > li a {
  display: block;
  color: lightgrey;
  padding: 20px;
  text-decoration: none;
  text-align: center;
}


h2 {
	padding: 15px 0px !important;
	text-align: center;
	font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
	background-color: #ededed;
	font-family: verdana;
}

.display-showcase {
	display: grid;
	margin: auto;
	max-width: 66%;
	justify-content: center;
	gap: 100px 50px;
	grid-template-columns: auto auto auto;
	margin-bottom: 80px;
}

.product:hover {
	transform: scale(1.005);
}

.bonsai-text {
	color: white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.btn {
    background-color: darkcyan !important;
	color: white;
}

.btn:hover {
	background-color: darkgrey !important; 
	cursor: pointer;
}

.carousel-item img {
    width: 50%;
	height: 400px;
    object-fit: contain;
}

.product {
	width: 250px;
	display: inline-block;
	margin: auto;
	text-align: center;
	height: auto;
}
.product button {
	background-color: darkcyan;
	color: white;
	width: 100%;
	padding: 5px;
	margin-top: 10px;
	border: none;
}
button:hover {
	background-color: darkgrey;
	cursor: pointer;
}

.product img {
	max-width: 100%;
	height: 220px;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.product p1 {
	color: darkcyan;
	font-weight: bold;
}

.label {
	text-align: left;
	margin: 5px 0px;
}

@media screen and (max-width: 1000px) {
    .display-showcase {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 600px) {
    .display-showcase {
        grid-template-columns: auto;
    }
}

.giftcard {
	margin: 20px 0px;
	background-color: #656500;
	height: auto;
	display: flex;
	padding: 50px 200px;
	text-align: center;
	justify-content: center;
	color: white;
	margin-bottom: 80px;
}
.giftcard img {
	max-width: 100%;
	border-radius: 30px 8px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px;
}

.giftcard button {
	background-color: darkcyan;
	border: none;
	color: white;
	padding: 5px;
	width: 50%;
}
.giftcard-text {
	padding-left: 10%;
}

.giftcard button:hover {
	background-color: darkgrey;
}

.footer {
	margin: 0px;
	padding: 0px;
}

.contact {
	background-color: #292929;
	height: 100%;
	margin: 0px;
	display: flex;
	justify-content: center;
}
.contact a {
	padding:30px;
	color: white;
}

.contact a:visited {
	color: yellow;
}

.copyright {
	background-color: black;
	height: 60px;
	margin: 0px;
}

footer p {
	margin-top: 0px;
	padding: 20px 0px 0 30px;
	color: white;
}

table, th, td {
  border:1px dotted darkcyan;
}

.dropdown-menu {
  width: 50%; /* Change this value to your desired percentage */
}
